*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__full-width {
    width: 100%;
}



:root{
    --heading-color: #b01323;
    --width-logo: 200px;
    --height-logo: 180px;
}

/* start  Header-Home */


#header {
    width: 100%
}

/* Top-header */


#connect-our {
    
    height: 45px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 0.5px solid rgba(139, 130, 130, 0.1);

}

.connect i {
    padding-left: 15px;
}



.connect ul{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

.connect ul li{
    list-style-type: none;
    color: var(--heading-color);
    line-height: 45px;  
    position: relative;  
}

.connect ul li a {
    text-decoration: none;
    color: var(--heading-color);
    padding-right: 20px;
}

.link {
    padding-left: 5px;
}

.liner-left {
    border-left: 1px solid var(--heading-color);
}

/* content-header */


#brand-name {
    height: 150px;
    display: flex;
    justify-content: space-around;
    border-bottom:  0.5px solid rgba(139, 130, 130, 0.1);
}


.container-header {
    width: 70%;
    display: flex;
    justify-content: space-around;
    height: 160px;
    align-items: center;
}

.content-header {
    display: flex;
}

.logo-brand {
    width: 30%;
    width: var(--width-logo);
    height: var(--height-logo);
}

.logo-brand img {
    width: var(--width-logo);
    height: var(--height-logo);
}

.content-header .logo {
    margin: 30px;
    position: absolute;
    top: 70px;
    margin-left: -60px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid rgba(139, 130, 130, 0.3);
    font-size: 20px;
    opacity: 0.6;
}

.content-header .logo:hover {
    color: var(--heading-color);
    border-color: var(--heading-color);
    font-weight: 800;
    cursor: pointer;
}

.content-header .content {
    text-align: center;
}

/* Nav */

#navbar {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    border: 1px solid rgba(139, 130, 130, 0.3);
}

.nav {
   margin-left: 5%;
}

.nav>ul {
    display: flex;
    list-style-type: none;
}

.nav>ul>li>a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--heading-color);
    
}

.nav ul li {
    list-style-type: none;
}

.nav ul li a:hover {
    color: black;
}

.find {
    margin-right: 10%;
    color: var(--heading-color);
}

.find i {
    margin-right: 10px;
}

.nav .subnav {
    display: none;
    width: 82%;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 95px;
    display: flex;
    justify-content: space-around;
    border: 1.5px solid var(--heading-color);
}

.subnav>li>a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.subnav>li>a:hover {
    color: var(--heading-color) !important;
}

.subnav>li>.mini-nav>li>a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: -20px;
}


.subnav>li>.mini-nav>li>a:hover {
    color: var(--heading-color);
}

.nav>ul>li>.subnav {
    display: none;
}


/* .hover-subnav:hover .subnav {
    display: block;
} */


.wrapper-home .banner-home {
    width: 100%;
    height: 364px;
    background-image: url('https://bizweb.dktcdn.net/100/037/325/themes/880427/assets/slider_1.jpg?1665393413524');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-advertise-home {
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    margin: 50px 10%;
}



/* Cart */


.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: aliceblue;
    box-shadow:  -2px 0 4px hsl(0 4% 15% / 10%);
}

.cart-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;

}

.cart-product-title,
.cart-price,
.total-title,
.total-price {
    height: 30px;
    line-height: 30px;
}

.cart-quantity {
    position: absolute;
    border: 1px solid var(--heading-color);
    outline-color: green;
    width: 40px;
    text-align: center;
    font-size: 14px;
}

.cart-remove {
    font-size: 20px;
    color: var(--heading-color);
    cursor: pointer;
}


.cart-price {
    font-weight: 600;
}


.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    border-top: 1px solid var(--heading-color);
}

.total-title {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    margin-left: 5px;
}

.btn-buy {
    display: flex;
    margin: 15px auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--heading-color);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


.btn-buy:hover {
    color: var(--heading-color);
    background-color: white;
    border: 1px solid var(--heading-color);
}

#close-cart {
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
}



/* Introduce */

.container .title {
    width: 100%;
    height: 90px;
    text-align: center !important;
    border-bottom: 1px solid rgba(240, 240, 240, 240);
    line-height: 90px;
}

.container .title h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
}

.container__content{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 15% 50px;
    text-align: justify;
}

.container__content-list {
    font-size: 15px;
    margin: 15px 0;
}

.container__content-list-items {
    font-size: 14px;
    margin-left: 3%;
    margin-top: 1%;
}

.banner-foot {
    width: 100%;
    height: 150px;
    background-color: rgb(240, 240, 240); 
    margin-top: 30px;
    
}

.banner-foot .banner-foot-wrapper {
    width: 80%;
    height: 110px;
    margin: 0 20% ;
}

.banner-foot .banner-foot-wrapper img {
    margin-top: 25px;
}




.feedback-home {
    height: 300px;
    background-image: url("//bizweb.dktcdn.net/100/037/325/themes/880427/assets/bg_danhgia.jpg?1665393413524");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 30px;
}



.feedback-home img {
    margin-top: 50px;
}


.news-home-post {
    width: 90%;
    display: flex;
    margin: 3% 8%;
}


.news-home-post .news-part {
   margin: 2px 15px;
}

.news-home-post .news-part a {
    text-decoration: none;
}

.news-home-post .news-part img {
    margin-bottom: 10px;
}

.content-box-news-home h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content-box-news-home p {
    text-align: justify;
    margin-right: 20px;
}

.content-box-news-home h4:hover,
.content-box-news-home p:hover {
     color: var(--heading-color);
}

.title-b {
    text-align: center;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 30px;
}

.title-b a {
    text-decoration: none;
}

.title-b a:hover {
    color: var(--heading-color);
}

.title-b h3 {
    color: var(--heading-color);
}




/* footer */

.footer {
    width: 100%;
    height: 350px;
    background-color: #111;
    color: white;
}

.footer .footer-wrapper {
    width: 80%;
    margin: 0 11%;
    display: flex;
    justify-content: space-around;
}



.footer .footer-wrapper .content h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
}

.footer .footer-wrapper .content ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer .footer-wrapper .content ul li i {
    margin-right: 10px;
    color: var(--heading-color);
}

.footer .footer-wrapper .content ul li a {
    text-decoration: none;
    color: white;
}

.footer .footer-wrapper .content ul li:hover, 
.footer .footer-wrapper .content ul li a:hover {
    color: var(--heading-color);
}



/* News */
.container__content-news {
    width: 80%;
    margin: 3% 15%;
}

.title-news {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--heading-color) ;
}

.box-news {
    display: flex;
}

.box-news img {
    margin-bottom: 30px;
}

.content-box-news {
    position: absolute;
    left: 40%;
    text-align: justify;
    margin-top: 25px;
    margin-right: 15%; 
    
}

.content-box-news h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.content-box-news h4:hover,
.content-box-news p:hover {
    color: var(--heading-color);
}


/* Contact */

.wrapper-form-contact {
    width: 100%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-contact {
    width: 80%;
    margin: 10px 10%;
    display: flex;
    justify-content: space-around;
}

.form-contact-content h4{
    font-size: 20px;
    color: rgb(252, 59, 25);
    margin: 10px 0;
}


label {
    display: block;
}

.form-contact-content #box-form form input {
    width: 600px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid rgb(120, 111, 111);
    border-radius: 5px;
    padding-left: 10px;
}

.form-contact-content #box-form form #message {
    padding-top: 10px;
    padding-bottom: 100px;
    position: absolute;
    
}


.form-contact-content #box-form form #message::placeholder {
    position: absolute;
    top: 5px;
}

#box-form  form .submit input {
    width: 100px !important;
    padding-right: 10px;
    border-radius: 20px;
    position: absolute;
    margin-top: 120px;
}

#box-form  form .submit input:hover {
    color: white;
    background-color: var(--heading-color);
    cursor: pointer;
}


.infor-contact-form ul li {
    list-style: none;
    margin-bottom: 15px;
    
}

.infor-contact-form ul li a {
    text-decoration: none;
    color: #111;
    margin-left: 10px;
}


.infor-contact-form h3 {
    font-size: 20px;
    color: var(--heading-color);
    margin-bottom: 15px;
}

.infor-contact-form .icon {
    width: 35%;
    display: flex;
    justify-content: space-around;
    opacity: 0.6;
}


.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: green;
}





/* SignUp */  
/* Login */


.signup, .login {
    width: 50%;
    height: 500px;
    margin: 30px 25%;
    display: flex;
    border: 1px solid var(--heading-color);
    font-family: Arial, Helvetica, sans-serif;
}


.benefit {
    width: 20%;
    height: 500px ;
    background-color: var(--heading-color);
    color: white;
    font-size: 18px;
    position: absolute;
    right: 25%;
}

.benefit h3 {
    margin: 20px 10px 30px 10px;
    
}

.benefit ul li {
    list-style: none;
    margin: 25px 15px;
}

.benefit a {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 80px;
}

.benefit a:hover {
    background-color: white;
    color: var(--heading-color);
    border-color: var(--heading-color);
}

.form {
    margin: 20px 30px;
}

.form .form-group {
    margin-top: 10px;
    font-size: 16px;
    
}

.form .form-group input {
    width: 350px;
    height: 30px;
}

.form .form-submit-signup {
    margin: 30px 0;
    width: 350px;
    text-align: center;
    font-size: 25px;
    background-color: var(--heading-color);
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.form .form-submit-signup:hover {
    border-color: var(--heading-color);
    color: var(--heading-color);
    background-color: white;
}

.form .different p {
    text-align: center;
    z-index: 10;
}


.different .line-login {
    width: 350px;
    border-top: 1px solid rgb(218, 214, 214);
    position: relative;
    bottom: 8px;
    z-index: -7;
}

.form .different .app{
    width: 180px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.form .different .app img {
    margin-left: 30px;
}

.form .different .app img:hover {
    cursor: pointer;
}


.different .forget {
    margin-top: 50px;
}


.text {
    margin-top: 50px;
}

.text p {
    margin-top: 20px;
    margin-bottom: 15px;
   
}

.button-forget {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-forget .form-submit-forget {
    width: 170px;
    font-size: 16px;
    padding: 5px;
    color: white;
    font-weight: 600;
    background-color: green;
    border-radius: 5px;
    border: 1px solid;
}

.button-forget .form-submit-forget:hover {
    color: var(--heading-color);
    background-color: white;
    border-color: var(--heading-color);
    cursor: pointer;
}


.button-forget .form-unsubmit-forget {
    width: 170px;
    margin-right: 28px;
    font-size: 16px;
    padding: 5px;
    background-color: var(--heading-color);
    color: white;
    border-radius: 5px;
    border: 1px solid;
}

.button-forget .form-unsubmit-forget:hover {
    color: var(--heading-color);
    border-color: var(--heading-color);
    background-color: white;
}



/* Shop */


.box-shop {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 13.5%;
}

.boxsp .img {
    width: 220px;  
    
}

.boxsp .img img {
    width: 220px;
    margin-top: 5px;
}

.boxsp p {
    color: var(--heading-color);
    font-weight: 600;
}
.boxsp a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111;
    font-weight: 500;
}

.boxsp input {
    width: 50px;
    margin-right: 10px;
    padding: 3px;
}

.boxsp button {
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--heading-color);
    border: 1px solid var(--heading-color);
    background-color: aliceblue;
    font-size: 14px;
    margin-top: 7px;
    margin-right: 10px;
}


.boxsp button:hover {
    color: white;
    background-color: var(--heading-color);
    cursor: pointer;
}



